@import 'src/theme/vars';
#list {
	::ng-deep .swiper-slide {
		width: auto;
	}
}

section {
	h1 {
		color: $accent;
		font-size: 40px;
	}

	.poster {
		width: 220px;
		height: 315px;

		img {
			object-fit: cover;
			object-position: center;
			cursor: pointer;

			height: calc(100% - 4px);
			width: 100%;
			padding: 2px;

			@media (min-width: 600px) {
				&:hover {
					padding: 0;
					border: 2px solid $accent-darker;
					border-radius: 4px;
				}
			}
		}

		@media (max-width: 600px) {
			width: 240px;

			img {
				width: 100%;
				min-height: 100%;
			}
		}

		@media (min-width: 600px) {
			&:not(:hover) {
				opacity: 0.6;
			}
		}
	}
}
