@import '../../../theme/vars';

#details {
	padding-top: 24px;

	h1 {
		font-size: 48px;
		letter-spacing: 0.05em;
		color: $white;
		margin-bottom: 8px;
	}

	h2 {
		font-family: $font-semi-bold;
		font-size: 40px;
		letter-spacing: 0.05em;
		color: $white;
	}

	p {
		font-family: $font-medium;
		font-size: 18px;
		line-height: 22px;
		color: #FFFFFF99;
	}

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		box-shadow: 0 8px 16px 8px rgba(0, 0, 0, 0.2);
		object-position: 50% 25%;
		max-height: min(500px, 60vh);
	}

	.chips {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 8px;

		div {
			padding: 4px 24px;
			border: 1px solid #d4b69c;
			border-radius: 32px;
			font-size: 18px;
			font-family: $font-medium;
			line-height: 24px;
			color: #d4b69c;
			cursor: pointer;
		}
	}

	.director-list {
		font-family: $font-medium;
		font-size: 20px;
		line-height: 22px;
		color: $white;
		gap: 8px;
		display: flex;

		.name:hover {
			cursor: pointer;
			color: $gray;
		}
	}

	::ng-deep .swiper-slide {
		width: auto;
	}

	.actors {
		width: 220px;
		height: 350px;

		img {
			object-fit: cover;
			object-position: center;
			cursor: pointer;

			height: auto;
			width: 100%;

			@media (min-width: 600px) {
				&:hover {
					border: 2px solid $accent-darker;
					border-radius: 4px;
				}
			}
		}

		strong {
			font-weight: $font-medium;
			font-size: 20px;
			line-height: 22px;
			color: $white;
		}

		span {
          font-size: 18px;
          line-height: 22px;
          color: #FFFFFF99;
		}
	}
}
