<section id="details" class="container-fluid pb-5">
	<div class="row">
		<div class="col-12 col-md-10 offset-md-1 mb-3 d-flex flex-column">
			<h1 translate="no" *ngIf="!isLoading">{{ details.title }}</h1>
			<ngx-skeleton-loader
				*ngIf="isLoading"
				[count]="1"
				[theme]="{
					width: '30%',
					height: '32px',
					margin: 0,
					'background-color': '#0b0c1a',
					border: '1px solid #0b0c1a',
					'margin-bottom': '4px',
					'animation-duration': '2s'
				}"
				appearance="line"
			></ngx-skeleton-loader>
			<div *ngIf="!isLoading" class="descriptions">
				<p *ngIf="details.fullTitle" class="pb-2">Original title: {{ details.fullTitle }}</p>
				<p *ngIf="details.runtimeStr">Duration: {{ details.runtimeStr }}</p>
				<p *ngIf="details.tvSeriesInfo">Seasons: {{ details.tvSeriesInfo.seasons.length }}</p>
			</div>
			<ngx-skeleton-loader
				*ngIf="isLoading"
				[count]="2"
				[theme]="{
					width: '20%	',
					height: '18px',
					margin: 0,
					'margin-bottom': '4px',
					'background-color': '#0b0c1a',
					border: '1px solid #0b0c1a',
					'animation-duration': '2s',
					display: 'block'
				}"
				appearance="line"
			></ngx-skeleton-loader>
		</div>
		<div class="col-12 col-md-10 offset-md-1 mb-3">
			<img
				*ngIf="!isLoading"
				class="img-fluid"
				[alt]="details.posters?.title"
				[src]="(details.posters?.backdrops)![0].link || details.image"
				[style.object-fit]="details.posters ? 'cover' : 'contain'"
			/>
			<ngx-skeleton-loader
				*ngIf="isLoading"
				[count]="1"
				[theme]="{
					width: '100%',
					height: 'min(500px, 60vh)',
					margin: 0,
					'margin-bottom': '12px',
					'background-color': '#0b0c1a',
					border: '1px solid #0b0c1a',
					'animation-duration': '2s',
					display: 'block'
				}"
				appearance="line"
			></ngx-skeleton-loader>
			<ng-container *ngIf="!details.posters">
				<img *ngIf="!isLoading" class="img-fluid img-backdrop col-12" [alt]="details.title" [src]="details.image" />
			</ng-container>
		</div>
		<div class="col-12 col-md-10 offset-md-1 d-flex">
			<div *ngIf="!isLoading" class="chips">
				<div [routerLink]="['/search']" [queryParams]="{ genre: genre.key }" *ngFor="let genre of details.genreList">
					{{ genre.value }}
				</div>
			</div>
			<ngx-skeleton-loader
				*ngIf="isLoading"
				[count]="3"
				[theme]="{
					width: '85px',
					height: '34px',
					margin: 0,
					'margin-bottom': '24px',
					'margin-right': '16px',
					'background-color': '#0b0c1a',
					border: '1px solid #0b0c1a',
					'border-radius': '32px',
					'animation-duration': '2s'
				}"
				appearance="line"
			></ngx-skeleton-loader>
		</div>
		<div class="col-12 col-md-10 offset-md-1 d-flex flex-column mt-5">
			<h2 class="mb-3">Summary</h2>
			<p *ngIf="!isLoading">
				{{ details.plotLocal || details.plot }}
			</p>
			<ngx-skeleton-loader
				*ngIf="isLoading"
				[count]="1"
				[theme]="{
					width: '100%',
					height: '40px',
					margin: 0,
					'background-color': '#0b0c1a',
					border: '1px solid #0b0c1a',
					'animation-duration': '2s'
				}"
				appearance="line"
			></ngx-skeleton-loader>
		</div>
		<div *ngIf="details?.directors" class="col-12 col-md-10 offset-md-1 d-flex flex-column mt-5">
			<h2 class="mb-3">Directors</h2>
			<div class="list-authors" *ngIf="!isLoading">
				<ng-container *ngFor="let director of details.directorList; let index = index">
					<span class="name">
						{{ director.name }}
					</span>
					<span *ngIf="index + 1 < (details?.directorList?.length || 0)">-</span>
				</ng-container>
			</div>
		</div>
		<div *ngIf="details?.writers" class="col-12 col-md-10 offset-md-1 d-flex flex-column mt-5">
			<h2 class="mb-3">Writers</h2>
			<div class="list-authors" *ngIf="!isLoading">
				<ng-container *ngFor="let writer of details.writerList; let index = index">
					<span class="name">
						{{ writer.name }}
					</span>
					<span *ngIf="index + 1 < (details?.writerList?.length || 0)">-</span>
				</ng-container>
			</div>
		</div>
		<ng-container *ngIf="details.actorList">
			<div class="col-12 col-md-10 offset-md-1 d-flex flex-column mt-5">
				<h2 class="mb-3">Cast</h2>
				<div *ngIf="!isLoading">
					<swiper [config]="config">
						<ng-template swiperSlide *ngFor="let actor of details.actorList; trackBy: trackByFn">
							<div class="actors">
								<img loading="lazy" [src]="actor?.image | resizeImage : '218x267'" [alt]="actor?.name" />
								<div class="d-flex flex-column">
									<strong>{{ actor.name }}</strong>
									<span>{{ actor.asCharacter }}</span>
								</div>
							</div>
						</ng-template>
					</swiper>
					<ngx-skeleton-loader
						*ngIf="isLoading"
						[count]="7"
						[theme]="{
							'width.px': '220',
							height: '305px',
							'background-color': '#0b0c1a',
							border: '1px solid #0b0c1a',
							'animation-duration': '2s',
							display: 'inline-block'
						}"
					></ngx-skeleton-loader>
				</div>
			</div>
		</ng-container>

		<ng-container *ngIf="details.similars">
			<div class="col-12 col-md-10 offset-md-1 mt-5 mb-4">
				<h2 class="mb-3">Similar Titles</h2>
				<ng-container *ngIf="!isLoading">
					<app-list-poster [listPoster]="details.similars" [isLoading]="isLoading"></app-list-poster>
				</ng-container>
			</div>
		</ng-container>
	</div>
</section>
