<div class="container-fluid">
	<div class="row">
		<div class="col-12 px-0">
			<swiper *ngIf="!isLoading" class="pb-5" [config]="config">
				<ng-template swiperSlide *ngFor="let movie of inTheatersList; trackBy: trackByFn">
					<div class="banner-home" [routerLink]="['/details', movie?.id]" routerLinkActive="router-link-active">
						<img [alt]="movie?.title" class="img-fluid swiper-lazy" [src]="movie?.image" loading="lazy" />
						<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
					</div>
				</ng-template>
			</swiper>
			<ngx-skeleton-loader
				*ngIf="isLoading"
				[count]="countPosters"
				[theme]="{
					'width.%': widthSkeletonPoster,
					height: '70vh',
					'margin-right': countPosters === 1 ? '0%' : '1%',
					'background-color': '#0b0c1a',
					border: '1px solid #0b0c1a',
					'animation-duration': '2s'
				}"
			></ngx-skeleton-loader>
			<section class="container-fluid mb-5">
				<div class="col-12 col-md-10 offset-md-1 d-flex flex-column mt-5 mb-5">
					<app-list-poster
						titleSection="Últimos Lançamentos"
						[countPosters]="countPosters"
						[isLoading]="isLoading"
						[listPoster]="comingSoonList"
						[widthSkeletonImages]="widthSkeletonImages"
					></app-list-poster>
					<app-list-poster
						titleSection="Melhores Filmes"
						[countPosters]="countPosters"
						[isLoading]="isLoading"
						[listPoster]="mostPopularMoviesList"
						[widthSkeletonImages]="widthSkeletonImages"
					></app-list-poster>
					<app-list-poster
						titleSection="Melhores Séries"
						[countPosters]="countPosters"
						[isLoading]="isLoading"
						[listPoster]="mostPopularTVsList"
						[widthSkeletonImages]="widthSkeletonImages"
					></app-list-poster>
				</div>
			</section>
		</div>
	</div>
</div>
