<nav class="navbar">
	<ul class="navbar-nav">
		<a [routerLink]="['/']">
			<img class="icon" src="../../../../assets/icons/icon.png" alt="Icon The Hit Movie" />
		</a>
		<li class="nav-item active">
			<a translate="no" class="nav-name" [routerLink]="['/']">The Hit Movie</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link" [routerLink]="['/search/series']">Series</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/search/movies']">Movies</a>
		</li>
	</ul>
	<button [routerLink]="['/search']" mat-icon-button aria-label="Search button">
		<mat-icon color="accent" fontIcon="search"></mat-icon>
	</button>
</nav>
