@import '../../../theme/vars';

#search {
	padding-top: 24px;

	h1 {
		font-size: 40px;
		letter-spacing: 0.05em;
		color: $white;
		margin-bottom: 8px;
	}

	.chip {
		background-color: #323872;
		padding: 0 8px;
	}

	.arrow {
		width: 24px;
		display: flex;
		align-items: center;
		cursor: pointer;
		pointer-events: auto;

		&:hover {
			transform: scale(1.5);
		}
	}

	.disabled {
		pointer-events: none;
		opacity: 0.2;
	}

	::ng-deep .mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected,
	.mat-mdc-standard-chip.mat-primary.mat-mdc-chip-highlighted {
		background-color: #4a4f83;
	}

	::ng-deep .mdc-evolution-chip-set {
		width: calc(100% - 48px);
	}

	::ng-deep .mdc-evolution-chip-set__chips {
		width: 100%;
		flex-flow: nowrap;
		flex-wrap: nowrap;
		overflow-x: scroll;
		transition: 2ms;
		scroll-snap-type: x mandatory;
		scrollbar-width: none;
		scroll-behavior: smooth;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.poster {
		width: 19%;
		height: 420px;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;

		@media (min-width: 1280px) and (max-width: 1600px) {
			width: 24%;
			height: auto;
		}

		@media (min-width: 1000px) and (max-width: 1279px) {
			width: 32%;
			height: auto;
		}

		@media (min-width: 661px) and (max-width: 999px) {
			width: 49%;
			height: auto;
		}

		@media (max-width: 660px) {
			height: max(450px, 100%);
			width: 100%;
		}

		.rating {
			position: absolute;
			z-index: 2;
			width: 2.5rem;
			padding: 0.3rem;
			margin: 2px;
			background-color: #1a1a1a;
			opacity: 0.7;
			color: $white;
			text-align: center;

			span {
				font-family: $font-text-semi-bold;
				font-size: 13px;
			}
		}

		img {
			object-fit: cover;
			object-position: center;
			cursor: pointer;

			height: calc(100% - 4px);
			width: 100%;
			padding: 2px;

			@media (min-width: 600px) {
				&:hover {
					padding: 0;
					border: 2px solid $accent-darker;
					border-radius: 4px;
				}
			}
		}
	}
}
