@import '../../../theme/vars';

#search {
	padding-top: 24px;

	h1 {
		font-size: 40px;
		letter-spacing: 0.05em;
		color: $white;
		margin-bottom: 8px;
	}

	.chip {
		background-color: #323872;
		padding: 0 8px;
	}

	.arrow {
		width: 24px;
		display: flex;
		align-items: center;
		cursor: pointer;

		&:hover {
			zoom: 1.25;
		}
	}

	::ng-deep .mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected,
	.mat-mdc-standard-chip.mat-primary.mat-mdc-chip-highlighted {
		background-color: #4a4f83;
	}

	::ng-deep .mdc-evolution-chip-set {
		width: calc(100% - 48px);
	}

	::ng-deep .mdc-evolution-chip-set__chips {
		width: 100%;
		flex-flow: nowrap;
		flex-wrap: nowrap;
		overflow-x: scroll;
		transition: 2ms;
		scroll-snap-type: x mandatory;
		scrollbar-width: none;
		scroll-behavior: smooth;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.poster {
		width: 19%;
		height: 450px;

		@media (max-width: 1600px) {
			width: max(250px, 24%);
		}

		@media (max-width: 1280px) {
			width: 32%;
		}

		@media (max-width: 1000px) {
			width: 49%;
		}

		@media (max-width: 660px) {
			height: max(450px, 100%);
			width: 100%;
		}

		img {
			object-fit: cover;
			object-position: center;
			cursor: pointer;

			height: calc(100% - 4px);
			width: 100%;
			padding: 2px;

			@media (min-width: 600px) {
				&:hover {
					padding: 0;
					border: 2px solid $accent-darker;
					border-radius: 4px;
				}
			}
		}
	}
}
