@import './theme/vars';
@import './theme/fonts';
@import 'swiper/swiper-bundle.min.css';

html,
body {
	min-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	font-size: 14px;
	font-family: $font-regular;
	background: $backgroud;
	color: $white;
	* {
		outline: none;
	}
}

p {
	font-family: $font-regular;
}

h1 {
	font-family: $font-bold;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2 {
	font-family: $font-bold;
}

h3 {
	font-family: $font-semi-bold;
}

h4 {
	font-family: $font-medium;
}

strong,
b {
	font-family: $font-bold;
}

button,
.mat-button-base {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

::-webkit-scrollbar {
	background-color: #cfcfcf;
	width: 8px;
	border-radius: 4px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: #a0a0a0;
	border-radius: 4px;
}
