@import '../../../theme/vars';

#people {
	padding-top: 24px;

	.descriptions {
		p {
			font-family: $font-text-semi-bold;
			font-size: 18px;
			line-height: 22px;
			color: $white-darker;
		}
	}

	h1 {
		font-size: 40px;
		letter-spacing: 0.05em;
		color: $white;
		margin-bottom: 8px;
	}

	h2 {
		font-family: $font-semi-bold;
		font-size: 32px;
		letter-spacing: 0.05em;
		color: $white;
	}
	p {
		font-family: $font-text-regular;
		font-size: 18px;
		line-height: 22px;
		color: $white;
	}

	img {
		max-height: 450px;
		object-fit: contain;

		@media (min-width: 600px) {
			object-fit: cover;
		}
	}
}
